#main{
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
}
.position-box{
    margin: 0 auto;
    color: #f8f8f8;
    height: 35px;
    line-height: 35px;
    border: 1px #DFDFDF solid;
    margin-top: 15px;
    font-size: 12px;
    color: #333333;
    padding-left: 20px;
    width: 100%;
}
.posi{
    background: url(../images/position-img.jpg) no-repeat center right;
    display: inline-block;
    padding-right: 10px;
    margin: 0;
}
.daoh{
    color: #000;
}
.daoh a{
    float: left;
    display: block;
    margin: 0 10px;
    color: #00A0A0;
}
.daoh span{
    float: left;

}
.tongzi{
    margin-right: 10px;
}
/* 主体 */
.main-content{
    width: 100%;
    margin-top: 10px;
    clear: both;
}


/* 左侧 */
.left-box{
    width: 250px;
    float: left;
}
.nav-box{
    width: 248px;
    border: 1px #DFDFDF solid;
}
.nav-box h3{
    height: 40px;
    background: url(../images/yp-left-nav-bg.jpg) repeat-x;
    line-height: 40px;
    padding-left: 20px;
    font-size: 18px;
    color: #a00100;
    font-family: 微软雅黑;
    border-bottom: 1px #E3E3E3 solid;
    font-weight: bold;
}
.nav-cont,.active,#PresentBox,#div7{
    font-weight: normal;
    color: #000;
}

.active h4{
    border-bottom: 1px #EAEAEA solid;
    color: #333333;
    font-size: 14px;
    padding-left: 25px;
    height: 33px;
    line-height: 33px;
    background: #F7F7F7;
    font-weight: bold;
}
#PresentBox ul{
    margin-top: 10px;
    height: 242px;
    border-bottom: 1px #EAEAEA solid;
}
#PresentBox ul li{
    height: 24px;
    line-height: 24px;
    float: left;
    display: inline;
    cursor: pointer;
    width: 90px;
    margin-left: 30px;
}
#PresentBox ul li a{
    font-size: 14px;
    color: #666666;
    display: block;
    width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
#PresentBox ul li a:hover{
    color: #00A0A0;
}
#div7{
    height: 530px;
}
.yp-title{
    background: #F7F7F7;
    border-bottom: 1px #EAEAEA solid;
    color: #333333;
    font-size: 14px;
    height: 530px;
    line-height: 33px;
    background: #F7F7F7;
    font-weight: bold;
}
.yp-title li{
    cursor: pointer;
    border-bottom: 1px #EAEAEA solid;
    color: #333333;
    font-size: 14px;
    height: 33px;
    padding-left: 25px;
    line-height: 33px;
    font-weight: bold;
    width: 120px;
    float: left;
    display: inline;
}
.yp-title li a{
    font-size: 14px;
    color: #333333;
}
.browse-box{
    border-top: 2px #D60003 solid;
    margin-top: 15px;
}
.browse-box h3{
    background: url(../images/h3-common-bg.jpg) repeat-x;
    height: 37px;
    line-height: 37px;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    border: 1px #DFDFDF solid;
    border-top: 0;
    padding-left: 20px;
    font-family: 微软雅黑;
}
.browse-box h3 span{
    float: right;
}
.browse-box h3 span a{
    color: #D60003;
    cursor: pointer;
}
.common-box{
    border-top: 2px #D60003 solid;
    margin-top: 15px;
}
.common-box h3{
    background: url(../images/h3-common-bg.jpg) repeat-x;
    height: 37px;
    line-height: 37px;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    border: 1px #DFDFDF solid;
    border-top: 0;
    padding-left: 20px;
    font-family: 微软雅黑;
}
.common-cont{
    border: 1px #DFDFDF solid;
    border-top: 0;
}
.common-cont dl{
    height: 227px;
    margin: 0 5px;
    font-family: 微软雅黑;
    padding: 5px 0;
    border-top: 1px #EAEAEA solid;
}
.common-cont dl dt{
    width: 160px;
    height: 160px;
    margin: 0 auto;
}
.common-cont dl dt a{
    color: #000;
}
.common-cont dl dd{
    padding-left: 20px;
    height: 28px;
    line-height: 28px;
}
.common-cont dl .title{
    display: block;
    width: 200px;
    color: #333333;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.kxj{
    font-size: 14px;
    color: #333;
    clear: both;
}
.kxj .tag{
    font-size: 13px;
    color: #333;
    float: left;
    display: inline;
}
.kxj .dollor{
    float: left;
    display: inline;
    width: 15px;
    font-size: 12px;
    font-weight: bold;
    color: red;
}
.kxj .price-num{
    float: left;
    display: inline;
    margin-top: 3px;
}
.kxj .price-num a{
    float: left;
    display: inline;
    margin-top: -2px;
    width: 35px;
    line-height: 28px;
    font-size: 13px;
    font-weight: bold;
    color: red;
}


/* 右侧 */
.m-right{
    width: 932px;
    margin-left: 18px;
    float: left;
   
}
/* 轮播图 */
.adbox,.imglist {
    width: 930px;
    height: 175px;
    position: relative;
}

.imglist ul {
    width: 930px;
    height: 175px;
}

.imglist ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 930px;
    height: 175px;
}

.imglist ul li:nth-child(1) {
    background: url(../images/true1.jpg)no-repeat center center;
    background-size: cover;
}

.imglist ul li:nth-child(2) {
    background: url(../images/true2.jpg)no-repeat center center;
    background-size: cover;
}

.imglist ul li:nth-child(3) {
    background: url(../images/true3.jpg)no-repeat center center;
    background-size: cover;
}

.light {
    position: absolute;
    right: 425px;
    top: 150px;
    z-index: 3;
}

.light span {
    float: left;
    width: 34px;
    height: 6px;
    margin-right: 5px;
    background: #cccccc;
    cursor: pointer;
}
.light span:nth-child(1){
    background: #d91519;
}
.hothunt{
    color: #666666;
    font-size: 12px;
    margin-top: 15px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 15px;
}
.hothunt a{
    color: #000;
    margin: 0 15px;
}
.huntbox{
    border: 1px #E6E2E1 solid; 
    background: #F7F5F5;
}
.huntbox dl{
    line-height: 37px;
    padding-top: 1px;
    width: 930px;
    height: 38px;
}
.huntbox dl dt{
    width: 107px;
    float: left;
    display: inline;
    text-align: center;
}
.huntbox dl dt span{
    display: block;
    background: url(../images/hunt-dt-ico.png) no-repeat 10px center;
    width: 90px;
    padding-left: 17px;
    color: #666666;
}
.huntbox dl dd{
    line-height: 37px;
    width: 823px;
    float: left;
    display: inline;
    background: #fff;
}
.content{
    width: 809px; 
    float: left;
    display: inline;
    line-height: 37px;
    height: 37px;
}
.all{
    width: 54px;
    background: #D60003;
    text-align: center;
    height: 24px;
    line-height: 22px;
    margin-left: 11px;
    margin-right: 11px;
    color: #fff;
    padding: 0;
    margin-top: 2px;
}
.content a{
    padding: 0 10px;
    display: inline-block;
    margin: 0 5px;
    width: 54px;
    height: 24px;
    line-height: 24px;
    border: 1px #fff solid;
    white-space: nowrap;
    cursor: pointer;
}
.other{
    color: #666;
}
.list{
    margin-left: 10px;
    width: 932px;
    height: 3000px;
}
.list li{
    border-bottom: 1px #DFDFDF solid;
    width: 233px;
    float: left;
    display: inline;
    padding: 14px 0;
    overflow: hidden;
    cursor: pointer;
    height: 430px;
}
.products{
    width: 100%;
    height: 37px;
    line-height: 37px;
    font-size: 16px;
    font-family: 微软雅黑;
    color: #333333;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
.info{
    width: 100%;
    font-size: 16px;
    font-family: 微软雅黑;
    color: #333333;
    margin-bottom: 15px;
    height: 37px;
    line-height: 37px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   
}
.xx{
    display: block;
    width: 100%;
    text-align: center;
    height: 37px;
    line-height: 37px;
}
.img{
   width: 200px;
   height: 200px;
   margin-bottom: 10px;
}

.kxj{
    float: left;
    display: inline;
    color: #333333;
    font-size: 13px;
    margin-left: 8px;
    font-family: 微软雅黑;
}
.dollor{
    width: 10px;
    font-size: 12px;
    color: #d60003;
    float: left;
    font-weight: bold;
    height: 20px;
    margin: 10px 5px 0 15px;
    line-height: 20px;
    
}
.price{
    font-size: 20px;
    font-weight: bold;
    color: #D60003;

}
.cart{
    float: left;
    display: inline;
    width: 93px;
    height: 35px;
    margin-right: 5px;
    cursor: pointer;
    background: url(../images/second-img.jpg)no-repeat 0 -35px;
}
.collect{
    float: left;
    display: inline;
    width: 93px;
    height: 35px;
    margin-right: 5px;
    cursor: pointer;
    background: url(../images/second-img.jpg)no-repeat 0 -70px;
}
/* 底部的帮助链接样式 */
.helpbox{
    margin-top: 35px;
    border: 1px #DEDEDE solid;
    width: 100%;
    height: 172px;
}
.helpleft{
    width: 250px;
    height: 170px;
}
.helpleft img{
    width: 250px;
    height: 170px;
}
.helpright{
    width: 924px;
    height: 170px;
    margin-left: 15px;
}
.helpright dl{
    width: 159px;
    float: left;
    display: inline;
    margin: 10px 0 0 23px;
}
.helpright dl dt{
    font-weight: bold;
    line-height: 30px;
    color: #e00000;
    font-size: 15px;
    font-family: 微软雅黑;
}
.helpright dl dd{
    cursor: pointer;
    line-height: 30px;
    font-family: 微软雅黑;
    font-size: 15px;
    color: #666666;
    font-family: 微软雅黑;
}
.helpright dl dd:hover{
    color: #00A0A0;
}